/*

nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    a{
        img{
            height: 200px;
            width: 200px;
        }
    }
    .menu{
        margin-right: 50px;
    }
}

*/